 <section id="footer" class="section-footer" >
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="footer-social">
                        <div class="mb-5">
                            <div>
                                <a href="#"><img src="" class="icon-h"></a>
                                <a href="#"><img src="" class="icon-h"></a>
                                <a href="#"><img src="" class="icon-h"></a>
                                <a href="#"><img src="" class="icon-h"></a>
                                <a href="#"><img src="" class="icon-h"></a>
                            </div>                          
                        </div>
                    </div>
                    <div>
                        <p>2018 г.</p>
                    </div>    

                </div>
                <div class="col-md-4">
                    <div class="footer-social">
                        <div class="mb-5"> 
                            <a class="footer-link decor-none" href="#">О компании</a>
                            <a class="footer-link decor-none" href="#">Отзывы</a>
                        </div>
                     </div>
                     <div>
                        <a class="footer-link decor-none" href="">Пoльзовательское соглашение</a>
                    </div>     
                </div>
                <div class="col-5">
                    <div class="mb-5">                       
                        <p>По всем вопросам пишите на: <a class="footer-link decor-none" href="#">Super@google.com</a></p>
                     </div>  
                </div>
            </div>
        </div>      
    </section>
    


<script src="js/index.js"></script>


