<header class="navbar-wrap">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="#">Курсы<span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="#">Расписание</a>
                    <a class="nav-item nav-link" href="#">Обучение</a>
                    <a class="nav-item nav-link" href="#">Работа в компаниях</a>
                    <a class="nav-item nav-link" href="#">Компаниям</a>
                    <a class="nav-item nav-link" href="#">Блог</a>

                    <div class="icon-nav">
                        <div class="nav-item dropdown">

                            <a class="dropdown" href="#" data-toggle="modal" data-target="#modalLRForm"><i class="material-icons md-36">person_pin</i>
                            </a>

                            <!-- <a class="dropdown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons md-36">person_pin</i>
                            </a> -->

                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Мои курсы</a>
                                <a class="dropdown-item" href="#">Личный кабинет</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Выход</a>
                            </div>
                        </div>    
                    </div>

                    
                </div>
            </div>          
        </div>  
    </nav>
</header>
