<!DOCTYPE html>
<html lang="en">
<head>
    <%= require('html-loader!./templates/head.html') %>
</head>
<%= require('html-loader!./templates/header.html') %>
<%= require('html-loader!./templates/modale.html') %>
<body>
<main>
    <section class="header-section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3>Получи навыки<span> для отличной карьеры в IT</span></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit integer vulputate nisl eu odio porttitor pulvinar nunc congue bitur pretium.</p>
                    <div class="btn-wrap">
                        <div class="mb-5">
                            <button class="btn btn-my mt-3" href="all_curses.html">Выбрать курс</button><span></span>
                            <button class="btn btn-my mt-3" href="#">Программы лояльности</button>
                        </div>
                        
                    </div>
                </div>
                <div class="col d-none d-lg-block">
                    <div>
                        <img src="../img/itv2.png" class="img-fluid mb-3 mt-3">                       
                    </div>
                </div>               
            </div>
        </div>    
    </section>

    <section id='advance' class="section-advance">
        <div class="container">
            <div class="advance-section-title">
                <h4>Успеть на ближайшие курсы </h4>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card curses-card gradient-1 shadow curses-card-hover"> 
                        <a href="one_curse.html">                
                            <div class="card-body">
                                <h3>Администратор</h3>
                                <h3> Linux</h3>
                                <hr class="heading-devider float-left "><br> 
                                <div><h6> C октября 5 месяцев</h6></div>    
                            </div>
                        </a>
                    </div>
                    <span class="meta-2">Успеть!</span>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">                   
                    <div class="card curses-card gradient-2 shadow">
                        <a href="">
                            <div class="card-body">
                                <h3>Разработчик</h3>
                                <h3>Python</h3>
                                <hr class="heading-devider float-left"><br> 
                                <div><h6> C октября 5 месяцев</h6></div>    
                            </div>
                        </a>
                    </div>
                    <span class="meta-2">Успеть!</span>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card curses-card gradient-3 shadow">
                        <a href="">
                            <div class="card-body">
                                <h3>Разработчик</h3>
                                <h3>PHP</h3>
                                <hr class="heading-devider float-left"><br> 
                                <div><h6> C октября 5 месяцев</h6></div>    
                            </div>
                        </a> 
                    </div>
                    <span class="meta-2 invisible">Успеть!</span>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">                
                    <div class="card curses-card gradient-4 shadow">
                        <a href=""> 
                            <div class="card-body child">
                                <h3>Администратор</h3>
                                <h3> Linux</h3>
                                <hr class="heading-devider float-left "><br> 
                                <div><h6> C октября 5 месяцев</h6></div>    
                            </div>
                        </a>                                               
                    </div>
                    <span class="meta-2 ">Успеть!</span>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">                   
                    <div class="card curses-card gradient-5 shadow">
                        <a href="">
                            <div class="card-body">
                                <h3>DevOps</h3>
                                <h3>Инжинер</h3>
                                <hr class="heading-devider float-left"><br> 
                                <div><h6> C октября 5 месяцев</h6></div>    
                            </div>
                        </a>    
                    </div>
                    <span class="meta-2">Успеть!</span>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card curses-card gradient-6 shadow">
                        <a href="">
                            <div class="card-body">
                                <h3>Разработчик</h3>
                                <h3>PHP</h3>
                                <hr class="heading-devider float-left"><br> 
                                <div><h6> C октября 5 месяцев</h6></div>    
                            </div>
                        </a>     
                    </div>
                    <span class="meta-2 invisible">Успеть!</span>
                </div>
            </div>
            </div>
        </div>
    </section>


    <section id="additions" class="section-additions">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card-additions mb-4 transition-scale">
                        <a href="" class="hover-additions">
                            <div class="card-additions-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-3 d-none d-lg-block">
                                            <div class="card-additions-icon">
                                                <i class="material-icons md-100">&#xe263;</i>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <h5>Трудоустройство</h5>
                                            <p>Нашим стутентам предлагают работу многие крупные компании</p>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                   <div class="card-additions mb-4 transition-scale">
                        <a href="" class="hover-additions">
                            <div class="card-additions-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-3 d-none d-lg-block">
                                            <div class="card-additions-icon">
                                                <i class="material-icons md-100">&#xe813;</i> 
                                            </div>
                                        </div>
                                        <div class="col">
                                            <h5>Программа лояльности</h5>
                                            <p>И реферальные программы. Как получить скидку?</p>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>   
                <div class="col-md-6">
                    <div class="card-additions mb-4 transition-scale">
                        <a href="" class="hover-additions">
                            <div class="card-additions-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-3 d-none d-lg-block">
                                            <div class="card-additions-icon">
                                                <i class="material-icons md-100">&#xe0e0;</i>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <h5>Блог</h5>
                                            <p>Сообщество студентов, профессионалов и работодателей</p>
                                        </div> 
                                    </div>
                                </div>                                
                            </div>
                        </a>
                    </div>
                    <div class="card-additions mb-4 transition-scale">
                        <a href="" class="hover-additions">
                            <div class="card-additions-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-3 d-none d-lg-block">
                                            <div class="card-additions-icon">
                                                <i class="material-icons md-100">&#xe912;</i>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <h5>Мероприятия</h5>
                                            <p>Задайте вопрос преподователю, примите участие в розыгрыше </p>
                                        </div> 
                                    </div>                               
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="teachers" class="section-teachers">
        <div class="container">
            <div class="teachers-title">
                <div class="row">
                    <div class="col-lg-5 col-md-7 ">
                        <a class="decor-none" href="#"><h4>Наши преподователи</h4></a>
                    </div>
                    <div class="col">    
                        <a class="btn-dark decor-none" href="#">Стать Преподователем</a>
                    </div>                        
                </div>
            </div>
            <div class="text-center">
                <div class="row">
                    <div class="col-lg-3 col-md-6 d-none d-md-block">
                        <a href=""><img class="rounded-circle mb-3 transition-scale" src="" alt="" width="180" height="180"></a>
                        <h5>Джаконда</h5>
                        <p>DevOps практики и инструменты</p>
                        
                    </div>
                    <div class="col-lg-3 col-md-6 d-none d-md-block">
                        <a href=""><img class="rounded-circle mb-3 transition-scale" src="" alt="" width="180" height="180"></a>
                        <h5>Александр Сергеевич</h5>
                        <p>Администратор Linux</p>
                    </div>
                    <div class="col-lg-3 col-md-6 d-none d-md-block">
                        <a href=""><img class="rounded-circle mb-3 transition-scale" src="" alt="" width="180" height="180"></a>
                        <h5>Василий Иваныч</h5>
                        <p>Наш дворник</p>
                    </div>
                    <div class="col-lg-3 col-md-6 d-none d-md-block">
                        <a href=""><img class="rounded-circle mb-3 transition-scale" src="" alt="" width="180" height="180"></a>
                        <h5>Арнольд</h5>
                        <p>Администратор Linux</p>
                    </div>
                </div>
            </div>
        </div>        
    </section>   
</main>  

<%= require('html-loader!./templates/footer.html') %>
</body>
</html>
