@import "~bootstrap/scss/bootstrap";

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', Arial;
    font-style: normal;
    text-rendering: optimizeLegibility;
    line-height: 1.1;
    margin-bottom: 14px;
    margin-top: 14px;
    font-weight: 600;
    color: #484848;
}

//-----header----------

.navbar-wrap{
    top:0;
    left:0;
    right:0;
    padding:15px 0;
    background: #2c3e50;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 0;
  align-items: center;
}

.icon-nav {    
    display: inline-block;
    padding-left: 4rem;
    padding-right: 2rem;
}


.material-icons.md-36 { 
    font-size: 36px;
    color: #1bbc9b; 
}
//--------header-------

.header-section {
    position: relative;
    background: #37927a;
    margin-bottom: 100px;
}

.header-section p {
    color: #fff;
    font-size: 17px;
    line-height: 28px;
}

.header-section h3 {
    color: #fff;
    font-size: 44px;
    margin: 100px 0 20px;
    font-weight: 700;
 //   letter-spacing: 0.2px;
}

.btn-wrap {
    margin-top: 50px;
    margin-bottom: 100px;
}


.btn-my {
    background: 0 0;
    padding: 13px 25px;
    font-family: Open sans;
    font-size: 14px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 2px solid #fff
}

.header-section span {
    margin: 5px 10px;
}

.btn-header-margin span {
    margin: 5px 10px;
}

//---------advance--------

.section-advance{
    margin-bottom: 40px;
}

.advance-section-title{
    margin-bottom: 80px;
}

.advance-section-title h4{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin: 0 0 60px;
    color: #484848;
}

.columns {
    float: left;
    min-height: 1px;
    padding: 0 15px;
    position: relative;
}


.card-advance {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

 
}

.card-advance h3{
    color: #fff;
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    
}

.cuadro_intro_hover{
        padding: 0;
        position: relative;
        overflow: hidden;
    }
    .cuadro_intro_hover:hover .caption{
        opacity: 1;
        transform: translateY(-150px);
        -webkit-transform:translateY(-150px);
        -moz-transform:translateY(-150px);
        -ms-transform:translateY(-150px);
       -o-transform:translateY(-150px);
    }
    .cuadro_intro_hover img{
        z-index: 4;
    }
    .cuadro_intro_hover .caption{
        position: absolute;
        top: 150px;
        -webkit-transition:all 0.3s ease-in-out;
        -moz-transition:all 0.3s ease-in-out;
        -o-transition:all 0.3s ease-in-out;
        -ms-transition:all 0.3s ease-in-out;
        transition:all 0.3s ease-in-out;
        width: 100%;

    }
    .cuadro_intro_hover .blur{
        background-color: #2c6d82;
        height: 150px;
        z-index: 5;
        position: absolute;
        width: 100%;

    }
    .cuadro_intro_hover .caption-text{
        z-index: 10;
        color: #fff;
        position: absolute;
        text-align: left;
        width: 100%;
        
        margin-top: 15px;
        margin-left: 15px;
        padding-right: 15px;
    }

    .cuadro_intro_hover p{
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 15px;
    } 
    .cuadro_intro_hover h5{
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 20px;
        color: #fff;
    }


.one{
  background-color: #013a6b;
  background-image: -webkit-linear-gradient(30deg, #013a6b 70%, #004e95 30%);
}
.two{
  background-color: #34adff;
  background-image: -webkit-linear-gradient(150deg, #34adff 35%, #4cbfff 35%);
}

.three{
  background-color: #dc644e;
  background-image: -webkit-linear-gradient(150deg, #2c6d82 35%, #3a8096 35%);
}

.four{
  background-color: #34adff;
  background-image: -webkit-linear-gradient(40deg, #336896 60%, #4885b9 40%);
}

.fife{
  background-color: #34adff;
  background-image: -webkit-linear-gradient(120deg,#325579 50%, #2e465f 50%);
}

.six{
  background-color: #34adff;
  background-image: -webkit-linear-gradient(30deg, #5bb9d2 45%, #84c3d4 45%);

}

.meta {
    font-size: 14px;
    color: #fff;
    letter-spacing: 1px;
    line-height: 1.1;
    font-weight: bold;
    margin: 0px 0 0;
    background: red;
    padding: 10px;
    display: table;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    top: -70px;
    left: 20px;
    text-transform: uppercase;
}

.invisible{
    visibility: hidden;
}

//-----------additions-----------

.section-additions{
    margin-bottom: 50px;
    position: relative;
    background: #fff;
//    padding: 60px;
}

.card-additions {
  position: relative;
  display: flex;
 // flex-direction: column;
  min-width: 0;
  min-height: 140px;
  word-wrap: break-word;
  background-color: #ececec;
  background-clip: border-box;
  border:  solid ;
  border-color:  #c1c1c1; 
  border-radius: 3px;

}


.card-additions-body {

  flex: 1 1 auto;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}


a.hover-additions {
    text-decoration: none;
}

a.hover-additions:hover {
    background: #fff;
    color: #fff;
}


.card-additions h5{
    font-size: 26px;
    font-weight: 600;
    text-align: left;
    color: #484848;
}

.card-additions p {
    margin: 0;
    font-size: 20px;
    text-align: left;
    font-weight: 500;
    color: #484848;
}


.material-icons.md-100{
    font-size: 100px;
    color: #346896;
    z-index: 10;
}

.card-additions-icon{

    text-align: center;
    padding-top: 13px;
}

//--------teachers--------

.section-teachers{
    position: relative;
    padding-top: 70px;
    padding-bottom: 100px;
    background: #f8f8f8;

}

a.decor-none{
    text-decoration: none;
    text-align: left;
}

.teachers-title h4{
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 90px;
    color: #484848;
}

.btn-dark{
    color: #484848;
    background: 0 0;
    padding: 13px 25px;
    font-family: Open sans;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 2px solid #1bbc9b; 
}


.text-centre{
    text-align: center;
}

//---------footer-----------

.section-footer{
    margi-bottom: 0;
    background: #292929;
    position: relative;
    padding-top: 60px;
    padding-bottom: 40px;
    color: #d2d2d2;
}

.footer-social {
    position: relative;
}


.icon-h{
    height: 30px;
    margin-right: 5px;
}

.footer-link{
    margin-right: 15px;
    color: #d2d2d2;
}

// ---------- modal-form ----------

.text-center {
    text-align: center!important;
}

.form-signin {
    width: 100%;
    max-width: 380px;
    padding: 15px;
    margin: auto;
}

.font-weight-normal {
    font-weight: 400!important;
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

.form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input[type="radio" i], input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    margin: 10px 0.5ex;
    padding: initial;
    border: initial;
}

button, input {
    overflow: visible;
}

.btn-blue-color {
    color: #fff; 
    background-color: #346896;
    border-color: #346896;
}


.material-icons.md-80{
    font-size: 80px;
    color: #346896;

}


.modal-text-size{
    
    font-size: 20px;
    font-weight: 500;

}


.transition-scale {
  position: relative;
  z-index: 2;
  cursor: pointer;
  transition: 0.2s linear;
  
}
.transition-scale:hover {
  -webkit-transform: scale(2);
  transform: scale(1.01);
  
}

  


