@import "~bootstrap/scss/bootstrap";

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', Arial;
    font-style: normal;
    text-rendering: optimizeLegibility;
    line-height: 1.1;
    margin-bottom: 14px;
    margin-top: 14px;
    font-weight: 600;
    color: #484848;
}


/* //-----header---------- */

.navbar-wrap{
    top:0;
    left:0;
    right:0;
    padding:15px 0;
    background: #2c3e50;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 0;
  align-items: center;
}

.icon-nav {    
    display: inline-block;
    padding-left: 4rem;
    padding-right: 2rem;
}


.material-icons.md-36 { 
    font-size: 36px;
    color: #1bbc9b; 
}

/* //--------header------- */

.header-section {
    position: relative;
    background: #37927a;
    margin-bottom: 100px;
}

.header-section p {
    color: #fff;
    font-size: 17px;
    line-height: 28px;
}

.header-section h3 {
    color: #fff;
    font-size: 44px;
    margin: 100px 0 20px;
    font-weight: 700;
 
}

.btn-wrap {
    margin-top: 50px;
    margin-bottom: 100px;
}


.btn-my {
    background: 0 0;
    padding: 11px 25px;
    font-family: Open sans;
    font-size: 15px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 2px solid #fff;
}

.header-section button:hover{
    text-decoration: none;
    color: #1bbc9b;
    background-color: #fff;

}

.header-section button:active {
    color: #1bbc9b;
    background-color: #fff;
}




.header-section span {
    margin: 5px 10px;
}

.btn-header-margin span {
    margin: 5px 10px;
}

/* //---------advance--------
 */
.section-advance{
    margin-bottom: 40px;
}

.advance-section-title{
    margin-bottom: 80px;
}

.advance-section-title h4{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin: 0 0 60px;
    color: #484848;
}

.columns {
    float: left;
    min-height: 1px;
    padding: 0 15px;
    position: relative;
}


.card-advance {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

 
}

.card-advance h3{
    color: #fff;
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    
}

.cuadro_intro_hover{
        padding: 0;
        position: relative;
        overflow: hidden;
    }
    .cuadro_intro_hover:hover .caption{
        opacity: 1;
        transform: translateY(-150px);
        -webkit-transform:translateY(-150px);
        -moz-transform:translateY(-150px);
        -ms-transform:translateY(-150px);
       -o-transform:translateY(-150px);
    }
    .cuadro_intro_hover img{
        z-index: 4;
    }
    .cuadro_intro_hover .caption{
        position: absolute;
        top: 150px;
        -webkit-transition:all 0.3s ease-in-out;
        -moz-transition:all 0.3s ease-in-out;
        -o-transition:all 0.3s ease-in-out;
        -ms-transition:all 0.3s ease-in-out;
        transition:all 0.3s ease-in-out;
        width: 100%;

    }
    .cuadro_intro_hover .blur{
        background-color: #2c6d82;
        height: 150px;
        z-index: 5;
        position: absolute;
        width: 100%;

    }
    .cuadro_intro_hover .caption-text{
        z-index: 10;
        color: #fff;
        position: absolute;
        text-align: left;
        width: 100%;
        
        margin-top: 15px;
        margin-left: 15px;
        padding-right: 15px;
    }

    .cuadro_intro_hover p{
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 15px;
    } 
    .cuadro_intro_hover h5{
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 20px;
        color: #fff;
    }


.gradient-1{
  background-color: #013a6b;
  background-image: -webkit-linear-gradient(30deg, #013a6b 58%,  #004e95 30%);
}
.gradient-2{
  background-color: #34adff;
  background-image: -webkit-linear-gradient(150deg, #34adff 35%, #34abff 35%);
}

.gradient-3{
  background-color: #dc644e;
  background-image: -webkit-linear-gradient(110deg, #2c6d82 45%, #3a8096 35%);
}

.gradient-4{
  background-color: #34adff;
  background-image: -webkit-linear-gradient(40deg, #336896 60%, #4885b9 40%);
}

.gradient-5{
  background-color: #34adff;
  background-image: -webkit-linear-gradient(120deg,#325579 50%, #2e465f 50%);
}

.gradient-6{
  background-color: #34adff;
  background-image: -webkit-linear-gradient(30deg, #5bb9d2 45%, #84c3d4 45%);

}

.gradient-7{
  background-color: #34adff;
  background-image: -webkit-linear-gradient(280deg, #2f849e 45%, #4093ac 45%);

}

.gradient-8{
  background-color: #34adff;
  background-image: -webkit-linear-gradient(60deg, #1d89cf 45%, #2480bd 45%);

}

.gradient-9{
  background-color: #34adff;
  background-image: -webkit-linear-gradient(80deg, #4074a8 45%, #33689e 45%);

}

.gradient-10{
  background-color: #34adff;
  background-image: -webkit-linear-gradient(30deg, #5bb9d2 45%, #84c3d4 45%);

}

.meta {
    font-size: 14px;
    color: #fff;
    letter-spacing: 1px;
    line-height: 1.1;
    font-weight: bold;
    margin: 0px 0 0;
    background: red;
    padding: 10px;
    display: table;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    top: -70px;
    left: 20px;
    text-transform: uppercase;
}

.invisible{
    visibility: hidden;
}

/* //-----------additions----------- */

.section-additions{
    margin-bottom: 50px;
    position: relative;
    background: #fff;

}

.card-additions {
  position: relative;
  display: flex;
  min-width: 0;
  min-height: 140px;
  word-wrap: break-word;
  background-color: #ececec;
  background-clip: border-box;
  border:  solid ;
  border-color:  #c1c1c1; 
  border-radius: 3px;

}


.card-additions-body {

  flex: 1 1 auto;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}


a.hover-additions {
    text-decoration: none;
}

a.hover-additions:hover {
    background: #fff;
    color: #fff;
}


.card-additions h5{
    font-size: 26px;
    font-weight: 600;
    text-align: left;
    color: #484848;
}

.card-additions p {
    margin: 0;
    font-size: 20px;
    text-align: left;
    font-weight: 500;
    color: #484848;
}


.material-icons.md-100{
    font-size: 100px;
    color: #346896;
    z-index: 10;
}

.card-additions-icon{

    text-align: center;
    padding-top: 13px;
}

/* //--------teachers-------- */

.section-teachers{
    position: relative;
    padding-top: 70px;
    padding-bottom: 100px;
    background: #f8f8f8;

}

a.decor-none{
    text-decoration: none;
    text-align: left;
}

.teachers-title h4{
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 90px;
    color: #484848;
}

.btn-dark{
    color: #484848;
    background: 0 0;
    padding: 13px 25px;
    font-family: Open sans;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 2px solid #1bbc9b; 
}


.text-centre{
    text-align: center;
}

/* //---------footer----------- */

.section-footer{
    margi-bottom: 0;
    background: #292929;
    position: relative;
    padding-top: 60px;
    padding-bottom: 40px;
    color: #d2d2d2;
}

.footer-social {
    position: relative;
}


.icon-h{
    height: 30px;
    margin-right: 5px;
}

.footer-link{
    margin-right: 15px;
    color: #d2d2d2;
}

/* // ---------- modal-form ----------
 */
.text-center {
    text-align: center!important;
}

.form-signin {
    width: 100%;
    max-width: 380px;
    padding: 15px;
    margin: auto;
}

.font-weight-normal {
    font-weight: 400!important;
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

.form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin .form-control {
    position: relative;
   //box-sizing: border-box;
    //height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 15px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input[type="radio" i], input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    margin: 10px 0.5ex;
    padding: initial;
    border: initial;
}

button, input {
    overflow: visible;
}

.btn-blue-color {
    color: #fff; 
    background-color: #346896;
    border-color: #346896;
}


.material-icons.md-80{
    font-size: 80px;
    color: #346896;

}


.modal-text-size{
    
    font-size: 20px;
    font-weight: 500;

}

.label-body{
    text-align: left;
}

.transition-scale {
  position: relative;
  z-index: 2;
  cursor: pointer;
  transition: 0.2s linear;
  
}
.transition-scale:hover {
  -webkit-transform: scale(2);
  transform: scale(1.01);
  
}

/* /*********************************
/=======++ ALL_CURSES ++=========*
/*********************************


//------choice-section----------- */


#curses-choice-section {
    position: relative;
    background: #50779e;
    margin-bottom: 50px;
    margin-top: 0;
    padding-bottom: 50px;
    padding-top: 20px;
    

}

#curses-choice-section h2{
    color: #fff;
}


.all-curses-title{
    margin-bottom: 40px;
}

.btn-curses-choice {
    background: 0 0;
    margin: 0 10px;
    padding: 8px 25px;
    font-family: Open sans;
    font-size: 15px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #fff;
}

.all_curses_header{
    padding: 0;
}

.all_curses_header button:hover{
    text-decoration: none;
    color: #50779e;
    background-color: #fff;

}

.all_curses_header button:active {
    color: #50779e;
    background-color: #fff;
}

/* //-------all_curses_card------ */

#all-curses{
    margin-bottom: 50px;
}

.curses-card{
    border: 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    will-change: transform, opacity;

}



.curses-card a{
    text-decoration: none;

    
}

.curses-card :hover{
    background: #f24903;
    border: 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    will-change: transform, opacity;
    
}


.heading-devider {
    margin: 10px;
    width: 10rem;
    height: 2px;
    border: 0;
    background: #f24903;
}

.curses-card h3{
    color: #fff;
    font-size: 30px;
    //letter-spacing: 1px;
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.curses-card h6{
   color: #fff;
   text-align: left; 
}

/* //---------meta-2-----------
 */
.meta-2{
    font-size: 14px;
    color: #fff;
    letter-spacing: 1px;
    line-height: 1.1;
    font-weight: bold;
    margin: 0px 0 0;
    background: red;
    padding: 10px;
    display: table;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    top: -17px;
    left: 20px;
    text-transform: uppercase;

}

/* //=============================
//--------one_curse_page-------
//============================= */

.one-curse-section-1 {
    position: relative;
    background: -webkit-linear-gradient(30deg,#ee757e 58%,#ff8690 30%);
    margin-bottom: 50px;
    margin-top: 0;
    padding: 50px;
}

.one-curse-section-1 h4{
    color: #fff;
    margin-top: 10px;
    margin-bottom: 25px;
}

.one-curse-section-1 p{
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 300;
}


/* //========================================
//------------calendar--------------------
//======================================== */


.calendar-curse-section-header {
    background: -webkit-linear-gradient(30deg,#ee757e 58%,#ff8690 30%);
    margin-bottom: 50px;
    margin-top: 0;
    padding: 40px;
    @media (max-width: 1190px){
        .display-3 {
            font-size: 3.5rem;

        }
      }
    @media (max-width: 900px){
        .display-3 {
            font-size: 3rem;
            
        }
    }
     @media (max-width: 767px){
        height: 300px;
        .display-3 {
            font-size: 3rem;
            
        }
    }
}


.calendar-curse-section-header h4{
    color: #fff;
}


.btn-calendar {
    background: 0 0;
    padding: 25 8px;
    font-family: Open sans;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 2px solid #fff;
    margin-left: 10px;
    
}


.calendar-curse-section-header button:hover{
    text-decoration: none;
    color: #ee757e;
    background-color: #fff;

}

.calendar-curse-section-header button:active {
    color: #ee757e;
    background-color: #fff;
}


.calendar-curses-section-header-title{
    margin-bottom: 50px;
}

#curses-calendar {
    margin-bottom: 100px;
}

.calendar-container{
    max-width: 1400px;
}

.calenadar-month {
    border-top: 1px solid #e8e8e8;
    margin-left: -1px;
    margin-bottom: -1px;
    padding: 22px 26px 0;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 270px;
}

.col-no-padding{
    padding: 0 0;
}

.calendar-month-title {
    font-weight: 400;
    font-size: 26px;
    color: #484848;
    padding-bottom: 20px;
}
.calenadar-month-items{
    
}
.calenadar-month-items a{
    text-decoration: none;
}


.calendar-bg-1{
    background-image: -webkit-linear-gradient(30deg,#ee757e 58%,#ff8690 30%);
}


.btn-calendar-month {
    padding-left: 8px;
    padding-right: 8px;
    font-family: Open sans;
    font-size: 20px;
    color: #fff;
    text-align: center;
    font-weight: 500;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 5px;
    opacity: .8;
}


.calenadar-month-items a:hover{
    opacity: 1;
    color: #fff;
}


